@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

strong {
	font-weight: 700;
}

// comment
p img.left {
	float: left;
	padding: 0 10px 10px 0;
}

p img.right {
	float: right;
	padding: 0 0 10px 10px;
}

body {
	width: 100%;
	background: #EFEFEF;
	font-family: $font-sans;
	font-size: 1em;
	line-height: 150%
}

p {
		margin: 0 0 0.875rem 0;
		font-size: 0.875rem; // 14px / 16px
		line-height: 1.3125rem;
}

em {
	font-style: italic;
}

i {
	color: $baseBlue;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
section#main_content {
	h1 {
		font-size: 1.5rem;
		line-height: 1.3125rem;
		padding-top: 0.65rem;
		padding-bottom: 0.65rem;
	}

	h2 {
		font-size: 1.3125rem;
		line-height: 1.3125rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	h3 {
		font-size: 1.125rem;
		line-height: 1.3125rem;
		padding-top: 0.45rem;
		padding-bottom: 0.45rem;
	}

	h4 {
		font-size: 0.9375rem;
		line-height: 1.3125rem;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
	}
	h5, h6 {
		font-size: 0.875rem; // 14px / 16px
		line-height: 1.3125rem;
		padding-top: 0.15rem;
		padding-bottom: 0.15rem;
	}
}
/* Link Styling */
a {
	&:link {
		text-decoration: none;
		color: $baseBlue;
	}
	&:hover, &:active {
		text-decoration:underline;
	}
	&:focus {
		outline: none;
	}
	&:visited {
		color: desaturate($baseBlue, 20%);
	}
}

table { 
	width: 100%;
	border-collapse: collapse; width:100%; 
	border: 1px solid #bbbbbb; 
	tr {
		width: auto;
	}
	td {
		border: 1px solid #bbbbbb; 
		padding:5px; 
	}
	th {
		background: #222222; 
		color: #ffffff; 
		font-weight: 700; 
		border: none;
		padding:5px; 
	}
	tr.odd {
		background:transparent;
	}
	tr.even {
		background:#ffffff; 
	}
}