@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* menu breaks at smaller than 1090 */
/* line 4, ../_/components/sass/_base.scss */
strong {
  font-weight: 700; }

/* line 9, ../_/components/sass/_base.scss */
p img.left {
  float: left;
  padding: 0 10px 10px 0; }

/* line 14, ../_/components/sass/_base.scss */
p img.right {
  float: right;
  padding: 0 0 10px 10px; }

/* line 19, ../_/components/sass/_base.scss */
body {
  width: 100%;
  background: #EFEFEF;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 150%; }

/* line 27, ../_/components/sass/_base.scss */
p {
  margin: 0 0 0.875rem 0;
  font-size: 0.875rem;
  line-height: 1.3125rem; }

/* line 33, ../_/components/sass/_base.scss */
em {
  font-style: italic; }

/* line 37, ../_/components/sass/_base.scss */
i {
  color: #1487d4; }

/* line 41, ../_/components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

/* line 45, ../_/components/sass/_base.scss */
section#main_content h1 {
  font-size: 1.5rem;
  line-height: 1.3125rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem; }
/* line 52, ../_/components/sass/_base.scss */
section#main_content h2 {
  font-size: 1.3125rem;
  line-height: 1.3125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
/* line 59, ../_/components/sass/_base.scss */
section#main_content h3 {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem; }
/* line 66, ../_/components/sass/_base.scss */
section#main_content h4 {
  font-size: 0.9375rem;
  line-height: 1.3125rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; }
/* line 72, ../_/components/sass/_base.scss */
section#main_content h5, section#main_content h6 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem; }

/* Link Styling */
/* line 81, ../_/components/sass/_base.scss */
a:link {
  text-decoration: none;
  color: #1487d4; }
/* line 85, ../_/components/sass/_base.scss */
a:hover, a:active {
  text-decoration: underline; }
/* line 88, ../_/components/sass/_base.scss */
a:focus {
  outline: none; }
/* line 91, ../_/components/sass/_base.scss */
a:visited {
  color: #2b82bd; }

/* line 96, ../_/components/sass/_base.scss */
table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #bbbbbb; }
  /* line 100, ../_/components/sass/_base.scss */
  table tr {
    width: auto; }
  /* line 103, ../_/components/sass/_base.scss */
  table td {
    border: 1px solid #bbbbbb;
    padding: 5px; }
  /* line 107, ../_/components/sass/_base.scss */
  table th {
    background: #222222;
    color: #ffffff;
    font-weight: 700;
    border: none;
    padding: 5px; }
  /* line 114, ../_/components/sass/_base.scss */
  table tr.odd {
    background: transparent; }
  /* line 117, ../_/components/sass/_base.scss */
  table tr.even {
    background: #ffffff; }

/* line 2, ../_/components/sass/_layout.scss */
header {
  height: 105px;
  background: url(../images/triangles.png) repeat; }

/* line 7, ../_/components/sass/_layout.scss */
hgroup#logo {
  width: 1280px; }
  /* line 9, ../_/components/sass/_layout.scss */
  hgroup#logo h1 {
    padding: 15px 0 0 102px;
    float: left; }
  /* line 13, ../_/components/sass/_layout.scss */
  hgroup#logo h1#interior-page {
    padding: 15px 0 0 0;
    margin-left: -50px; }
  /* line 17, ../_/components/sass/_layout.scss */
  hgroup#logo h2 {
    float: left;
    padding: 42px 0 0 35px;
    color: #FFF;
    font: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: normal; }

/* line 27, ../_/components/sass/_layout.scss */
h1#menu a {
  display: block;
  padding-top: 30px;
  float: right;
  color: #FFF;
  font-weight: normal;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #FFF;
  font-size: 0.8rem; }
  /* line 37, ../_/components/sass/_layout.scss */
  h1#menu a:hover {
    text-decoration: none; }

/* line 42, ../_/components/sass/_layout.scss */
section#latest {
  float: left;
  padding: 40px 25px; }
  /* line 45, ../_/components/sass/_layout.scss */
  section#latest h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid #1487d4; }
  /* line 51, ../_/components/sass/_layout.scss */
  section#latest h2.icon {
    float: right;
    margin-top: -1.3em;
    font-size: 1.7rem;
    color: #333; }
  /* line 57, ../_/components/sass/_layout.scss */
  section#latest h3 {
    font-weight: 700;
    padding-top: 1.3em; }
  /* line 61, ../_/components/sass/_layout.scss */
  section#latest p {
    padding-bottom: 3rem; }
    /* line 63, ../_/components/sass/_layout.scss */
    section#latest p img {
      display: none; }

/* line 70, ../_/components/sass/_layout.scss */
section#main_content img {
  max-width: 100%;
  height: auto; }

/* line 77, ../_/components/sass/_layout.scss */
aside.sidebar {
  float: right;
  padding: 30px 0;
  display: none; }
  /* line 81, ../_/components/sass/_layout.scss */
  aside.sidebar h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #1487d4; }
  /* line 88, ../_/components/sass/_layout.scss */
  aside.sidebar div.content {
    padding-top: 0.5rem; }
    /* line 90, ../_/components/sass/_layout.scss */
    aside.sidebar div.content a {
      display: block;
      padding: 0.25rem; }
      /* line 94, ../_/components/sass/_layout.scss */
      aside.sidebar div.content a:hover, aside.sidebar div.content a:active {
        text-decoration: none;
        color: #1487d4; }
      /* line 98, ../_/components/sass/_layout.scss */
      aside.sidebar div.content a:hover {
        background: #E5E5E5; }

/* line 105, ../_/components/sass/_layout.scss */
nav {
  clear: both; }
  /* line 107, ../_/components/sass/_layout.scss */
  nav ul {
    list-style: none; }
    /* line 109, ../_/components/sass/_layout.scss */
    nav ul li {
      float: left; }
  /* line 113, ../_/components/sass/_layout.scss */
  nav a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    border: none; }
    /* line 118, ../_/components/sass/_layout.scss */
    nav a:link, nav a:visited {
      color: #1069a5; }
    /* line 121, ../_/components/sass/_layout.scss */
    nav a:hover, nav a:active {
      text-decoration: none;
      color: #1487d4; }
    /* line 125, ../_/components/sass/_layout.scss */
    nav a i {
      color: #333; }
    /* line 128, ../_/components/sass/_layout.scss */
    nav a .navtag {
      display: none;
      /* Tags only display in some sizes */
      color: #333; }

/* line 136, ../_/components/sass/_layout.scss */
footer {
  height: 75px;
  width: 100%;
  background: url(../images/triangles.png) repeat; }
  /* line 140, ../_/components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 3rem;
    float: left;
    font-size: 1.25rem;
    color: #FFF; }
  /* line 146, ../_/components/sass/_layout.scss */
  footer input {
    float: left; }
    /* line 148, ../_/components/sass/_layout.scss */
    footer input[name="search_block_form"] {
      margin-top: 25px;
      width: 150px;
      height: 18px;
      border: none;
      border-radius: 50px; }
    /* line 155, ../_/components/sass/_layout.scss */
    footer input[name="op"] {
      margin: 24px 0 0 0.5rem;
      padding: 0 10px;
      height: 23px;
      background: #1487d4;
      color: #FFF;
      font-size: 0.75rem;
      border: none;
      border-radius: 50px; }
  /* line 167, ../_/components/sass/_layout.scss */
  footer ul.social-bookmarks {
    position: absolute;
    left: 360px;
    padding: 23px 0 0 0;
    font-size: 1.5rem; }
    /* line 172, ../_/components/sass/_layout.scss */
    footer ul.social-bookmarks li {
      float: left;
      padding-right: 1.5rem; }

/* line 179, ../_/components/sass/_layout.scss */
video#bigvid {
  float: left;
  padding: 0 20px 0 0;
  max-width: 50%;
  height: auto;
  background: url("../videos/tokyo_subway.png") no-repeat;
  background-size: cover; }

/* line 190, ../_/components/sass/_layout.scss */
section#main_content {
  float: left;
  width: 65%;
  padding: 27px 35px 25px 35px; }
  /* line 194, ../_/components/sass/_layout.scss */
  section#main_content header#page-title {
    height: auto;
    width: auto;
    background: none;
    padding-bottom: 20px; }
    /* line 199, ../_/components/sass/_layout.scss */
    section#main_content header#page-title h1.page-title {
      color: #333;
      font-size: 2rem;
      font-weight: 700;
      border-bottom: 2px solid #1487d4;
      padding-bottom: 0.5rem; }
    /* line 206, ../_/components/sass/_layout.scss */
    section#main_content header#page-title i {
      font-size: 1.5rem;
      margin-top: -1.75rem;
      float: right; }
    /* line 211, ../_/components/sass/_layout.scss */
    section#main_content header#page-title h2.page-title {
      border-bottom: 2px solid #1487d4;
      padding-bottom: 0.5rem;
      font-size: 1.65rem; }
  /* line 217, ../_/components/sass/_layout.scss */
  section#main_content h2[property="dc:title"] {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.8rem; }
  /* line 222, ../_/components/sass/_layout.scss */
  section#main_content .submitted {
    margin: -0.175rem 0 -0.25rem 0;
    font-size: 0.7em;
    text-transform: uppercase; }
    /* line 226, ../_/components/sass/_layout.scss */
    section#main_content .submitted a {
      text-decoration: none;
      color: #333; }
  /* line 231, ../_/components/sass/_layout.scss */
  section#main_content .views-row div.content {
    padding-bottom: 2rem; }
    /* line 233, ../_/components/sass/_layout.scss */
    section#main_content .views-row div.content p {
      margin: 0 0 1rem 0;
      font-size: 0.875rem;
      line-height: 1.3125rem; }
  /* line 239, ../_/components/sass/_layout.scss */
  section#main_content ul.inline {
    display: none; }

/* line 247, ../_/components/sass/_layout.scss */
div#comments {
  padding-bottom: 25px; }
  /* line 249, ../_/components/sass/_layout.scss */
  div#comments h2.title.comment-form {
    color: #1487d4;
    font-weight: normal; }
  /* line 253, ../_/components/sass/_layout.scss */
  div#comments .form-item {
    margin-top: 0;
    margin-bottom: 0; }
  /* line 257, ../_/components/sass/_layout.scss */
  div#comments textarea {
    min-height: 90px; }

/* line 262, ../_/components/sass/_layout.scss */
input.form-submit {
  padding: 0 10px;
  height: 23px;
  background: #1487d4;
  color: #FFF;
  font-size: 0.75rem;
  border: none;
  border-radius: 50px; }

/* line 275, ../_/components/sass/_layout.scss */
section#main_content .field-type-taxonomy-term-reference {
  font-size: 0.8em;
  padding-bottom: 0.65em; }
  /* line 278, ../_/components/sass/_layout.scss */
  section#main_content .field-type-taxonomy-term-reference .field-label {
    float: left;
    font-weight: normal;
    color: #333; }
  /* line 283, ../_/components/sass/_layout.scss */
  section#main_content .field-type-taxonomy-term-reference .field-item {
    display: inline; }
  /* line 286, ../_/components/sass/_layout.scss */
  section#main_content .field-type-taxonomy-term-reference .taxoterm:after {
    content: ", "; }
  /* line 289, ../_/components/sass/_layout.scss */
  section#main_content .field-type-taxonomy-term-reference .taxoterm:last-child:after {
    content: ""; }

/* line 298, ../_/components/sass/_layout.scss */
.page-articles section#main_content .submitted {
  margin: -0.175rem 0 0 0;
  padding-bottom: 0.65em; }
/* line 302, ../_/components/sass/_layout.scss */
.page-articles section#main_content img {
  display: none; }

/* line 311, ../_/components/sass/_layout.scss */
.page-node-49 section#main_content {
  width: 95% !important; }
  /* line 315, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li {
    float: left;
    padding: 0 5px;
    position: relative; }
    /* line 319, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li p {
      padding: 0; }
    /* line 324, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li span.project-type {
      position: absolute;
      color: #FFF;
      text-shadow: 1px 1px 1px #333; }
    /* line 329, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li h3.work-title {
      position: absolute; }

/* line 336, ../_/components/sass/_layout.scss */
.page-node-49 ul div.content {
  display: none;
  position: absolute;
  background: rgba(20, 135, 212, 0.8); }

/* line 343, ../_/components/sass/_layout.scss */
.node-type-folio section#main_content {
  width: 95%; }
  /* line 345, ../_/components/sass/_layout.scss */
  .node-type-folio section#main_content img {
    max-width: 50%;
    height: auto; }

@media screen and (min-width: 290px) and (max-width: 450px) {
  /* line 357, ../_/components/sass/_layout.scss */
  #bannertext {
    width: 90%;
    margin: 15px 0 0 0; }

  /* line 361, ../_/components/sass/_layout.scss */
  section#latest {
    float: left; }

  /* line 365, ../_/components/sass/_layout.scss */
  table td.views-field-field-imagesmall {
    display: none; }

  /* line 371, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content {
    margin-left: -25px; }
    /* line 373, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content .region-content {
      padding: 0; }
    /* line 377, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li p {
      margin: -17px 0 0 0; }
    /* line 380, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li img {
      max-width: 320px;
      width: 320px;
      height: 214px; }
    /* line 385, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li span.project-type {
      top: 155px;
      right: 25px; }
    /* line 389, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li h3.work-title {
      top: 175px;
      right: 25px;
      color: #FFF;
      text-shadow: 1px 1px 1px #333; }

  /* line 399, ../_/components/sass/_layout.scss */
  .page-node-49 ul div.content {
    margin: -17px 0 0 0;
    width: 320px;
    height: 214px;
    display: none;
    position: absolute;
    background: rgba(20, 135, 212, 0.8); } }
@media screen and (max-width: 560px) {
  /* line 412, ../_/components/sass/_layout.scss */
  header {
    height: 87px; }

  /* line 416, ../_/components/sass/_layout.scss */
  hgroup#logo h1 {
    padding: 15px 0 0 0; }
  /* line 419, ../_/components/sass/_layout.scss */
  hgroup#logo h1#interior-page {
    margin-left: -25px; }
  /* line 422, ../_/components/sass/_layout.scss */
  hgroup#logo h2 {
    position: absolute;
    top: 100px;
    font-size: 1.25rem;
    color: #333;
    padding: 0 15px 0 15px; }
  /* line 429, ../_/components/sass/_layout.scss */
  hgroup#logo img {
    width: 220px;
    height: 53px; }

  /* line 435, ../_/components/sass/_layout.scss */
  section#latest {
    padding: 0 25px;
    margin-top: -15px; }

  /* line 440, ../_/components/sass/_layout.scss */
  h1#menu a {
    padding: 30px 20px 0 0;
    font-size: 1rem; }

  /* line 445, ../_/components/sass/_layout.scss */
  #bannertext {
    width: 90%;
    padding: 40px 0; }
    /* line 448, ../_/components/sass/_layout.scss */
    #bannertext p {
      padding: 0.5rem 2rem;
      color: #000;
      font-size: 0.85rem;
      line-height: 125%; }

  /* line 455, ../_/components/sass/_layout.scss */
  section#main_content {
    width: 85%; }

  /* line 459, ../_/components/sass/_layout.scss */
  nav#mainmenu {
    width: 90%;
    position: relative;
    font-size: 1.5rem; }
    /* line 463, ../_/components/sass/_layout.scss */
    nav#mainmenu .navtag {
      display: block;
      font-size: 0.9rem;
      text-transform: lowercase;
      text-align: center; }
    /* line 469, ../_/components/sass/_layout.scss */
    nav#mainmenu i {
      padding-right: 1rem; }
    /* line 472, ../_/components/sass/_layout.scss */
    nav#mainmenu ul {
      width: 100%;
      background: #FFF; }
      /* line 475, ../_/components/sass/_layout.scss */
      nav#mainmenu ul li {
        display: block;
        background: #FFF;
        width: 110%;
        float: none;
        padding: 0;
        border-top: 1px solid #333; }
        /* line 482, ../_/components/sass/_layout.scss */
        nav#mainmenu ul li:hover {
          background: #E5E5E5; }
        /* line 485, ../_/components/sass/_layout.scss */
        nav#mainmenu ul li:last-child {
          border-bottom: 1px solid #333; }
        /* line 488, ../_/components/sass/_layout.scss */
        nav#mainmenu ul li a {
          text-align: center;
          padding: 25px; }

  /* line 498, ../_/components/sass/_layout.scss */
  section#main_content p img {
    float: none;
    display: block;
    max-width: 320px;
    height: auto;
    padding: 0 0 10px 0; }

  /* line 507, ../_/components/sass/_layout.scss */
  footer {
    height: 115px; }
    /* line 509, ../_/components/sass/_layout.scss */
    footer i.fa-search {
      float: left; }
    /* line 512, ../_/components/sass/_layout.scss */
    footer input {
      float: none; }
    /* line 515, ../_/components/sass/_layout.scss */
    footer ul.social-bookmarks {
      left: 50px; }

  /* line 520, ../_/components/sass/_layout.scss */
  table td.views-field-field-imagesmall {
    display: none; }

  /* line 527, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content .region-content {
    padding: 0; }
  /* line 531, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li p {
    margin: -17px 0 0 0; }
  /* line 534, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li img {
    max-width: 380px;
    width: 380px;
    height: 254px; }
  /* line 539, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li span.project-type {
    top: 195px;
    right: 25px; }
  /* line 543, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li h3.work-title {
    top: 215px;
    right: 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333; }

  /* line 553, ../_/components/sass/_layout.scss */
  .page-node-49 ul div.content {
    margin: -17px 0 0 0;
    width: 380px;
    height: 254px;
    display: none;
    position: absolute;
    background: rgba(20, 135, 212, 0.8); } }
@media screen and (min-width: 561px) and (max-width: 685px) {
  /* line 566, ../_/components/sass/_layout.scss */
  hgroup#logo h2 {
    position: absolute;
    top: 79px;
    left: 109px;
    font-size: 1.65rem; }

  /* line 572, ../_/components/sass/_layout.scss */
  h1#menu a {
    padding: 30px 20px 0 0;
    font-size: 1rem; }

  /* line 576, ../_/components/sass/_layout.scss */
  section#banner {
    width: 760px;
    height: 283px;
    background: url(../images/working_760_bw.jpg) no-repeat; }
    /* line 580, ../_/components/sass/_layout.scss */
    section#banner #bannertext {
      float: left;
      width: 65%;
      padding: 315px 56px 20px 66px; }
      /* line 584, ../_/components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 2rem;
        color: #000;
        font-size: 0.9rem;
        line-height: 125%; }

  /* line 593, ../_/components/sass/_layout.scss */
  section#latest {
    padding: 0 25px;
    margin-top: 15px; }

  /* line 598, ../_/components/sass/_layout.scss */
  section#main_content {
    width: 85%; }

  /* line 602, ../_/components/sass/_layout.scss */
  nav {
    padding: 15px 2rem 75px 5.5rem;
    font-size: 1.25rem;
    position: relative; }
    /* line 606, ../_/components/sass/_layout.scss */
    nav i {
      font-size: 1.5rem;
      position: absolute;
      left: 1.5rem;
      top: 1.75rem; }
      /* line 611, ../_/components/sass/_layout.scss */
      nav i.fa-paragraph {
        left: 0.75rem; }
      /* line 614, ../_/components/sass/_layout.scss */
      nav i.fa-briefcase {
        left: 1.7em; }
    /* line 619, ../_/components/sass/_layout.scss */
    nav ul li {
      padding-right: 1.65rem;
      position: relative; }

  /* line 628, ../_/components/sass/_layout.scss */
  section#main_content p img {
    float: none;
    display: block;
    padding: 0 0 10px 0; }

  /* line 636, ../_/components/sass/_layout.scss */
  footer {
    height: 150px; }
    /* line 638, ../_/components/sass/_layout.scss */
    footer ul.social-bookmarks {
      left: 325px; }

  /* line 643, ../_/components/sass/_layout.scss */
  table .views-field-field-imagesmall {
    display: none; }

  /* line 649, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content {
    margin-left: -25px; }
    /* line 651, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content .region-content {
      max-width: 1440px;
      padding: 0 25px; }
    /* line 656, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li p {
      margin: -17px 0 0 0; }
    /* line 659, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li img {
      max-width: 490px;
      width: 490px;
      height: 327px; }
    /* line 664, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li span.project-type {
      top: 265px;
      right: 25px; }
    /* line 668, ../_/components/sass/_layout.scss */
    .page-node-49 section#main_content ul.work-grid.listing > li h3.work-title {
      top: 285px;
      right: 25px;
      color: #FFF;
      text-shadow: 1px 1px 1px #333; }

  /* line 678, ../_/components/sass/_layout.scss */
  .page-node-49 ul div.content {
    margin: -17px 0 0 0;
    width: 490px;
    height: 327px;
    display: none;
    position: absolute;
    background: rgba(20, 135, 212, 0.8); } }
@media screen and (min-width: 686px) and (max-width: 1090px) {
  /* line 691, ../_/components/sass/_layout.scss */
  header {
    width: 100%; }

  /* line 694, ../_/components/sass/_layout.scss */
  h1#menu a {
    padding: 0;
    position: absolute;
    top: 43px;
    left: 910px;
    font-size: 1rem; }

  /* line 701, ../_/components/sass/_layout.scss */
  section#banner {
    width: 1280px;
    height: 480px;
    background: url(../images/working_1280_bw.jpg) no-repeat;
    position: relative;
    overflow: hidden; }
    /* line 707, ../_/components/sass/_layout.scss */
    section#banner #bannertext {
      width: 33%;
      height: 480px;
      background: rgba(20, 135, 212, 0.8);
      position: absolute;
      top: 0;
      bottom: 0; }
      /* line 714, ../_/components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 3rem;
        color: #FFF;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #333;
        line-height: 125%; }
        /* line 720, ../_/components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 60px; }

  /* line 726, ../_/components/sass/_layout.scss */
  section#latest {
    width: 70%;
    padding-bottom: 0px; }

  /* line 730, ../_/components/sass/_layout.scss */
  aside.sidebar {
    display: block;
    float: right;
    width: 20%; }

  /* line 736, ../_/components/sass/_layout.scss */
  nav {
    padding: 1.5rem 4.25rem;
    overflow: hidden;
    font-size: 1.2rem; }
    /* line 740, ../_/components/sass/_layout.scss */
    nav i {
      padding-right: 0.35rem; }
    /* line 744, ../_/components/sass/_layout.scss */
    nav ul li {
      padding-right: 1.45rem;
      position: relative; }
      /* line 747, ../_/components/sass/_layout.scss */
      nav ul li .navtag {
        display: block;
        font-size: 0.9rem;
        text-transform: lowercase;
        text-align: center;
        padding: 0;
        margin: 0; }

  /* line 760, ../_/components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 4.25rem; }
  /* line 763, ../_/components/sass/_layout.scss */
  footer ul.social-bookmarks {
    font-size: 1.5rem;
    left: 385px; }

  /* line 772, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content .region-content {
    max-width: 1440px;
    padding: 0 50px; }
  /* line 777, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li p {
    margin: -17px 0 0 0; }
  /* line 780, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li img {
    width: 400px;
    height: 265px; }
  /* line 784, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li span.project-type {
    top: 205px;
    right: 25px; }
  /* line 788, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li h3.work-title {
    top: 225px;
    right: 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333; }

  /* line 798, ../_/components/sass/_layout.scss */
  .page-node-49 ul div.content {
    margin: -17px 0 0 0;
    width: 400px;
    height: 265px;
    display: none;
    position: absolute;
    background: rgba(20, 135, 212, 0.8); } }
@media screen and (min-width: 1091px) {
  /* line 810, ../_/components/sass/_layout.scss */
  header {
    width: 1280px; }

  /* line 813, ../_/components/sass/_layout.scss */
  h1#menu a {
    position: absolute;
    padding: 0;
    top: 43px;
    left: 950px;
    font-size: 1rem; }

  /* line 820, ../_/components/sass/_layout.scss */
  section#banner {
    width: 1280px;
    height: 480px;
    background: url(../images/working_1280_bw.jpg) no-repeat;
    position: relative;
    overflow: hidden; }
    /* line 826, ../_/components/sass/_layout.scss */
    section#banner #bannertext {
      width: 33%;
      height: 480px;
      background: rgba(20, 135, 212, 0.8);
      position: absolute;
      top: 0;
      bottom: 0; }
      /* line 833, ../_/components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 3rem;
        color: #FFF;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #333;
        line-height: 125%; }
        /* line 839, ../_/components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 60px; }

  /* line 846, ../_/components/sass/_layout.scss */
  section#latest {
    width: 70%;
    padding-bottom: 0; }

  /* line 851, ../_/components/sass/_layout.scss */
  aside.sidebar {
    display: block;
    float: right;
    width: 20%; }

  /* line 857, ../_/components/sass/_layout.scss */
  nav {
    padding: 1.5rem 6.25rem;
    overflow: hidden;
    font-size: 1.45rem; }
    /* line 861, ../_/components/sass/_layout.scss */
    nav i {
      padding-right: 0.45rem; }
    /* line 865, ../_/components/sass/_layout.scss */
    nav ul li {
      padding-right: 5rem;
      position: relative; }
      /* line 868, ../_/components/sass/_layout.scss */
      nav ul li .navtag {
        display: block;
        font-size: 1rem;
        text-transform: lowercase;
        text-align: center; }

  /* line 878, ../_/components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 6.25rem; }
  /* line 881, ../_/components/sass/_layout.scss */
  footer ul.social-bookmarks {
    font-size: 1.8rem;
    padding: 20px 0 0 0;
    left: 425px; }
  /* line 886, ../_/components/sass/_layout.scss */
  footer li {
    padding-right: 1.8rem; }

  /* line 893, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content .region-content {
    max-width: 1440px;
    padding: 0 100px; }
  /* line 898, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li p {
    margin: -17px 0 0 0; }
  /* line 901, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li img {
    width: 400px;
    height: 265px; }
  /* line 905, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li span.project-type {
    top: 205px;
    right: 25px; }
  /* line 909, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li h3.work-title {
    top: 225px;
    right: 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333; }

  /* line 919, ../_/components/sass/_layout.scss */
  .page-node-49 ul div.content {
    margin: -17px 0 0 0;
    width: 400px;
    height: 265px;
    display: none;
    position: absolute;
    background: rgba(20, 135, 212, 0.8); } }
@media screen and (min-width: 1280px) {
  /* line 931, ../_/components/sass/_layout.scss */
  header {
    width: 1680px; }

  /* line 934, ../_/components/sass/_layout.scss */
  h1#menu a {
    position: absolute;
    padding: 0;
    top: 43px;
    left: 950px;
    font-size: 1rem; }

  /* line 941, ../_/components/sass/_layout.scss */
  section#banner {
    width: 1680px;
    height: 500px;
    background: url(../images/working_1680_bw.jpg) no-repeat; }
    /* line 945, ../_/components/sass/_layout.scss */
    section#banner #bannertext {
      height: 500px; }
      /* line 947, ../_/components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 5.3rem; }
        /* line 949, ../_/components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 75px; }

  /* line 958, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content .region-content {
    max-width: 1440px;
    padding: 0 100px; }
  /* line 963, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li p {
    margin: -17px 0 0 0; }
  /* line 966, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li img {
    width: 490px;
    height: 327px; }
  /* line 970, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li span.project-type {
    top: 265px;
    right: 25px; }
  /* line 974, ../_/components/sass/_layout.scss */
  .page-node-49 section#main_content ul.work-grid.listing > li h3.work-title {
    top: 285px;
    right: 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333; }

  /* line 984, ../_/components/sass/_layout.scss */
  .page-node-49 ul div.content {
    margin: -17px 0 0 0;
    width: 490px;
    height: 327px;
    display: none;
    position: absolute;
    background: rgba(20, 135, 212, 0.8); } }
