@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* menu breaks at smaller than 1090 */
/* line 4, ../_/components/sass/_base.scss */
strong {
  font-weight: 700; }

/* line 8, ../_/components/sass/_base.scss */
p img.left {
  float: left;
  padding: 0 10px 10px 0; }

/* line 13, ../_/components/sass/_base.scss */
p img.right {
  float: right;
  padding: 0 0 10px 10px; }

/* line 18, ../_/components/sass/_base.scss */
body {
  width: 100%;
  background: #EFEFEF;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 150%; }

/* line 26, ../_/components/sass/_base.scss */
p {
  margin: 0 0 0.875rem 0;
  font-size: 0.875rem;
  line-height: 1.3125rem; }

/* line 32, ../_/components/sass/_base.scss */
em {
  font-style: italic; }

/* line 36, ../_/components/sass/_base.scss */
i {
  color: #1487d4; }

/* line 40, ../_/components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

/* line 44, ../_/components/sass/_base.scss */
section#main_content h1 {
  font-size: 1.5rem;
  line-height: 1.3125rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem; }
/* line 51, ../_/components/sass/_base.scss */
section#main_content h2 {
  font-size: 1.3125rem;
  line-height: 1.3125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
/* line 58, ../_/components/sass/_base.scss */
section#main_content h3 {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem; }
/* line 65, ../_/components/sass/_base.scss */
section#main_content h4 {
  font-size: 0.9375rem;
  line-height: 1.3125rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; }
/* line 71, ../_/components/sass/_base.scss */
section#main_content h5, section#main_content h6 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem; }

/* Link Styling */
/* line 80, ../_/components/sass/_base.scss */
a:link {
  text-decoration: none;
  color: #1487d4; }
/* line 84, ../_/components/sass/_base.scss */
a:hover, a:active {
  text-decoration: underline; }
/* line 87, ../_/components/sass/_base.scss */
a:focus {
  outline: none; }
/* line 90, ../_/components/sass/_base.scss */
a:visited {
  color: #2b82bd; }

/* line 95, ../_/components/sass/_base.scss */
table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #bbbbbb; }
  /* line 99, ../_/components/sass/_base.scss */
  table tr {
    width: auto; }
  /* line 102, ../_/components/sass/_base.scss */
  table td {
    border: 1px solid #bbbbbb;
    padding: 5px; }
  /* line 106, ../_/components/sass/_base.scss */
  table th {
    background: #222222;
    color: #ffffff;
    font-weight: 700;
    border: none;
    padding: 5px; }
  /* line 113, ../_/components/sass/_base.scss */
  table tr.odd {
    background: transparent; }
  /* line 116, ../_/components/sass/_base.scss */
  table tr.even {
    background: #ffffff; }

/* line 2, ../_/components/sass/_layout.scss */
header {
  height: 105px;
  background: url(../images/triangles.png) repeat; }

/* line 7, ../_/components/sass/_layout.scss */
hgroup#logo {
  width: 1280px; }
  /* line 9, ../_/components/sass/_layout.scss */
  hgroup#logo h1 {
    padding: 15px 0 0 102px;
    float: left; }
  /* line 13, ../_/components/sass/_layout.scss */
  hgroup#logo h1#interior-page {
    padding: 15px 0 0 0;
    margin-left: -50px; }
  /* line 17, ../_/components/sass/_layout.scss */
  hgroup#logo h2 {
    float: left;
    padding: 42px 0 0 35px;
    color: #FFF;
    font: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: normal; }

/* line 27, ../_/components/sass/_layout.scss */
h1#menu a {
  display: block;
  padding-top: 30px;
  float: right;
  color: #FFF;
  font-weight: normal;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #FFF;
  font-size: 0.8rem; }
  /* line 37, ../_/components/sass/_layout.scss */
  h1#menu a:hover {
    text-decoration: none; }

/* line 42, ../_/components/sass/_layout.scss */
section#latest {
  float: left;
  padding: 40px 25px; }
  /* line 45, ../_/components/sass/_layout.scss */
  section#latest h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid #1487d4; }
  /* line 51, ../_/components/sass/_layout.scss */
  section#latest h2.icon {
    float: right;
    margin-top: -1.3em;
    font-size: 1.7rem;
    color: #333; }
  /* line 57, ../_/components/sass/_layout.scss */
  section#latest h3 {
    font-weight: 700;
    padding-top: 1.3em; }
  /* line 61, ../_/components/sass/_layout.scss */
  section#latest p {
    padding-bottom: 3rem; }
    /* line 63, ../_/components/sass/_layout.scss */
    section#latest p img {
      display: none; }

/* line 69, ../_/components/sass/_layout.scss */
aside.sidebar {
  float: right;
  padding: 30px 0;
  display: none; }
  /* line 73, ../_/components/sass/_layout.scss */
  aside.sidebar h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #1487d4; }
  /* line 80, ../_/components/sass/_layout.scss */
  aside.sidebar div.content {
    padding-top: 0.5rem; }
    /* line 82, ../_/components/sass/_layout.scss */
    aside.sidebar div.content a {
      display: block;
      padding: 0.25rem; }
      /* line 86, ../_/components/sass/_layout.scss */
      aside.sidebar div.content a:hover, aside.sidebar div.content a:active {
        text-decoration: none;
        color: #1487d4; }
      /* line 90, ../_/components/sass/_layout.scss */
      aside.sidebar div.content a:hover {
        background: #E5E5E5; }

/* line 97, ../_/components/sass/_layout.scss */
nav {
  clear: both; }
  /* line 99, ../_/components/sass/_layout.scss */
  nav ul {
    list-style: none; }
    /* line 101, ../_/components/sass/_layout.scss */
    nav ul li {
      float: left; }
  /* line 105, ../_/components/sass/_layout.scss */
  nav a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    border: none; }
    /* line 110, ../_/components/sass/_layout.scss */
    nav a:link, nav a:visited {
      color: #1069a5; }
    /* line 113, ../_/components/sass/_layout.scss */
    nav a:hover, nav a:active {
      text-decoration: none;
      color: #1487d4; }
    /* line 117, ../_/components/sass/_layout.scss */
    nav a i {
      color: #333; }
    /* line 120, ../_/components/sass/_layout.scss */
    nav a .navtag {
      display: none;
      /* Tags only display in some sizes */
      color: #333; }

/* line 128, ../_/components/sass/_layout.scss */
footer {
  height: 75px;
  width: 100%;
  background: url(../images/triangles.png) repeat; }
  /* line 132, ../_/components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 3rem;
    float: left;
    font-size: 1.25rem;
    color: #FFF; }
  /* line 138, ../_/components/sass/_layout.scss */
  footer input {
    float: left; }
    /* line 140, ../_/components/sass/_layout.scss */
    footer input[name="search_block_form"] {
      margin-top: 25px;
      width: 150px;
      height: 18px;
      border: none;
      border-radius: 50px; }
    /* line 147, ../_/components/sass/_layout.scss */
    footer input[name="op"] {
      margin: 24px 0 0 0.5rem;
      padding: 0 10px;
      height: 23px;
      background: #1487d4;
      color: #FFF;
      font-size: 0.75rem;
      border: none;
      border-radius: 50px; }
  /* line 159, ../_/components/sass/_layout.scss */
  footer ul.social-bookmarks {
    position: absolute;
    left: 360px;
    padding: 23px 0 0 0;
    font-size: 1.5rem; }
    /* line 164, ../_/components/sass/_layout.scss */
    footer ul.social-bookmarks li {
      float: left;
      padding-right: 1.5rem; }

/* line 173, ../_/components/sass/_layout.scss */
section#main_content {
  float: left;
  width: 65%;
  padding: 27px 35px 25px 35px; }
  /* line 177, ../_/components/sass/_layout.scss */
  section#main_content header#page-title {
    height: auto;
    width: auto;
    background: none;
    padding-bottom: 20px; }
    /* line 182, ../_/components/sass/_layout.scss */
    section#main_content header#page-title h1.page-title {
      color: #333;
      font-size: 2rem;
      font-weight: 700;
      border-bottom: 2px solid #1487d4;
      padding-bottom: 0.5rem; }
    /* line 189, ../_/components/sass/_layout.scss */
    section#main_content header#page-title i {
      font-size: 1.5rem;
      margin-top: -1.75rem;
      float: right; }
    /* line 194, ../_/components/sass/_layout.scss */
    section#main_content header#page-title h2.page-title {
      border-bottom: 2px solid #1487d4;
      padding-bottom: 0.5rem;
      font-size: 1.65rem; }
  /* line 200, ../_/components/sass/_layout.scss */
  section#main_content h2[property="dc:title"] {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.8rem; }
  /* line 205, ../_/components/sass/_layout.scss */
  section#main_content .submitted {
    margin: -0.175rem 0 -0.25rem 0;
    font-size: 0.7em;
    text-transform: uppercase; }
    /* line 209, ../_/components/sass/_layout.scss */
    section#main_content .submitted a {
      text-decoration: none;
      color: #333; }
  /* line 214, ../_/components/sass/_layout.scss */
  section#main_content .views-row div.content {
    padding-bottom: 2rem; }
    /* line 216, ../_/components/sass/_layout.scss */
    section#main_content .views-row div.content p {
      margin: 0 0 1rem 0;
      font-size: 0.875rem;
      line-height: 1.3125rem; }
  /* line 222, ../_/components/sass/_layout.scss */
  section#main_content ul.inline {
    display: none; }

/* line 230, ../_/components/sass/_layout.scss */
div#comments {
  padding-bottom: 25px; }
  /* line 232, ../_/components/sass/_layout.scss */
  div#comments h2.title.comment-form {
    color: #1487d4;
    font-weight: normal; }
  /* line 236, ../_/components/sass/_layout.scss */
  div#comments .form-item {
    margin-top: 0;
    margin-bottom: 0; }
  /* line 240, ../_/components/sass/_layout.scss */
  div#comments textarea {
    min-height: 90px; }

/* line 245, ../_/components/sass/_layout.scss */
input.form-submit {
  padding: 0 10px;
  height: 23px;
  background: #1487d4;
  color: #FFF;
  font-size: 0.75rem;
  border: none;
  border-radius: 50px; }

/* line 258, ../_/components/sass/_layout.scss */
section#main_content .field-type-taxonomy-term-reference {
  font-size: 0.8em;
  padding-bottom: 0.65em; }
  /* line 261, ../_/components/sass/_layout.scss */
  section#main_content .field-type-taxonomy-term-reference .field-label {
    float: left;
    font-weight: normal;
    color: #333; }
  /* line 266, ../_/components/sass/_layout.scss */
  section#main_content .field-type-taxonomy-term-reference .field-item {
    display: inline; }
  /* line 269, ../_/components/sass/_layout.scss */
  section#main_content .field-type-taxonomy-term-reference .taxoterm:after {
    content: ", "; }
  /* line 272, ../_/components/sass/_layout.scss */
  section#main_content .field-type-taxonomy-term-reference .taxoterm:last-child:after {
    content: ""; }

/* line 281, ../_/components/sass/_layout.scss */
.page-articles section#main_content .submitted {
  margin: -0.175rem 0 0 0;
  padding-bottom: 0.65em; }
/* line 285, ../_/components/sass/_layout.scss */
.page-articles section#main_content img {
  display: none; }

/* line 292, ../_/components/sass/_layout.scss */
.node-type-folio section#main_content {
  width: 95%; }
  /* line 294, ../_/components/sass/_layout.scss */
  .node-type-folio section#main_content img {
    max-width: 50%;
    height: auto; }

@media screen and (min-width: 290px) and (max-width: 450px) {
  /* line 306, ../_/components/sass/_layout.scss */
  #bannertext {
    width: 90%;
    margin: 15px 0 0 0; }

  /* line 310, ../_/components/sass/_layout.scss */
  section#latest {
    float: left; }

  /* line 314, ../_/components/sass/_layout.scss */
  table td.views-field-field-imagesmall {
    display: none; } }
@media screen and (max-width: 560px) {
  /* line 323, ../_/components/sass/_layout.scss */
  header {
    height: 87px; }

  /* line 327, ../_/components/sass/_layout.scss */
  hgroup#logo h1 {
    padding: 15px 0 0 0; }
  /* line 330, ../_/components/sass/_layout.scss */
  hgroup#logo h1#interior-page {
    margin-left: -25px; }
  /* line 333, ../_/components/sass/_layout.scss */
  hgroup#logo h2 {
    position: absolute;
    top: 100px;
    font-size: 1.25rem;
    color: #333;
    padding: 0 15px 0 15px; }
  /* line 340, ../_/components/sass/_layout.scss */
  hgroup#logo img {
    width: 220px;
    height: 53px; }

  /* line 346, ../_/components/sass/_layout.scss */
  section#latest {
    padding: 0 25px;
    margin-top: -15px; }

  /* line 351, ../_/components/sass/_layout.scss */
  h1#menu a {
    padding: 30px 20px 0 0;
    font-size: 1rem; }

  /* line 356, ../_/components/sass/_layout.scss */
  #bannertext {
    width: 90%;
    padding: 40px 0; }
    /* line 359, ../_/components/sass/_layout.scss */
    #bannertext p {
      padding: 0.5rem 2rem;
      color: #000;
      font-size: 0.85rem;
      line-height: 125%; }

  /* line 366, ../_/components/sass/_layout.scss */
  nav#mainmenu {
    width: 90%;
    position: relative;
    font-size: 1.5rem; }
    /* line 370, ../_/components/sass/_layout.scss */
    nav#mainmenu .navtag {
      display: block;
      font-size: 0.9rem;
      text-transform: lowercase;
      text-align: center; }
    /* line 376, ../_/components/sass/_layout.scss */
    nav#mainmenu i {
      padding-right: 1rem; }
    /* line 379, ../_/components/sass/_layout.scss */
    nav#mainmenu ul {
      width: 100%;
      background: #FFF; }
      /* line 382, ../_/components/sass/_layout.scss */
      nav#mainmenu ul li {
        display: block;
        background: #FFF;
        width: 110%;
        float: none;
        padding: 0;
        border-top: 1px solid #333; }
        /* line 389, ../_/components/sass/_layout.scss */
        nav#mainmenu ul li:hover {
          background: #E5E5E5; }
        /* line 392, ../_/components/sass/_layout.scss */
        nav#mainmenu ul li:last-child {
          border-bottom: 1px solid #333; }
        /* line 395, ../_/components/sass/_layout.scss */
        nav#mainmenu ul li a {
          text-align: center;
          padding: 25px; }

  /* line 405, ../_/components/sass/_layout.scss */
  section#main_content p img {
    float: none;
    display: block; }

  /* line 411, ../_/components/sass/_layout.scss */
  footer {
    height: 115px; }
    /* line 413, ../_/components/sass/_layout.scss */
    footer i.fa-search {
      float: left; }
    /* line 416, ../_/components/sass/_layout.scss */
    footer input {
      float: none; }
    /* line 419, ../_/components/sass/_layout.scss */
    footer ul.social-bookmarks {
      left: 50px; }

  /* line 424, ../_/components/sass/_layout.scss */
  table td.views-field-field-imagesmall {
    display: none; } }
@media screen and (min-width: 561px) and (max-width: 685px) {
  /* line 433, ../_/components/sass/_layout.scss */
  hgroup#logo h2 {
    position: absolute;
    top: 79px;
    left: 109px;
    font-size: 1.65rem; }

  /* line 439, ../_/components/sass/_layout.scss */
  h1#menu a {
    padding: 30px 20px 0 0;
    font-size: 1rem; }

  /* line 443, ../_/components/sass/_layout.scss */
  section#banner {
    width: 760px;
    height: 283px;
    background: url(../images/working_760_bw.jpg) no-repeat; }
    /* line 447, ../_/components/sass/_layout.scss */
    section#banner #bannertext {
      float: left;
      width: 65%;
      padding: 315px 56px 20px 66px; }
      /* line 451, ../_/components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 2rem;
        color: #000;
        font-size: 0.9rem;
        line-height: 125%; }

  /* line 460, ../_/components/sass/_layout.scss */
  section#latest {
    padding: 0 25px;
    margin-top: 15px; }

  /* line 465, ../_/components/sass/_layout.scss */
  nav {
    padding: 15px 2rem 75px 5.5rem;
    font-size: 1.25rem;
    position: relative; }
    /* line 469, ../_/components/sass/_layout.scss */
    nav i {
      font-size: 1.5rem;
      position: absolute;
      left: 1.5rem;
      top: 1.75rem; }
      /* line 474, ../_/components/sass/_layout.scss */
      nav i.fa-paragraph {
        left: 0.75rem; }
      /* line 477, ../_/components/sass/_layout.scss */
      nav i.fa-briefcase {
        left: 1.7em; }
    /* line 482, ../_/components/sass/_layout.scss */
    nav ul li {
      padding-right: 1.65rem;
      position: relative; }

  /* line 491, ../_/components/sass/_layout.scss */
  section#main_content p img {
    float: none;
    display: block; }

  /* line 498, ../_/components/sass/_layout.scss */
  footer {
    height: 150px; }
    /* line 500, ../_/components/sass/_layout.scss */
    footer ul.social-bookmarks {
      left: 325px; }

  /* line 505, ../_/components/sass/_layout.scss */
  table .views-field-field-imagesmall {
    display: none; } }
@media screen and (min-width: 686px) and (max-width: 1090px) {
  /* line 514, ../_/components/sass/_layout.scss */
  header {
    width: 100%; }

  /* line 517, ../_/components/sass/_layout.scss */
  h1#menu a {
    padding: 0;
    position: absolute;
    top: 43px;
    left: 910px;
    font-size: 1rem; }

  /* line 524, ../_/components/sass/_layout.scss */
  section#banner {
    width: 1280px;
    height: 480px;
    background: url(../images/working_1280_bw.jpg) no-repeat;
    position: relative;
    overflow: hidden; }
    /* line 530, ../_/components/sass/_layout.scss */
    section#banner #bannertext {
      width: 33%;
      height: 480px;
      background: rgba(20, 135, 212, 0.8);
      position: absolute;
      top: 0;
      bottom: 0; }
      /* line 537, ../_/components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 3rem;
        color: #FFF;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #333;
        line-height: 125%; }
        /* line 543, ../_/components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 60px; }

  /* line 549, ../_/components/sass/_layout.scss */
  section#latest {
    width: 70%;
    padding-bottom: 0px; }

  /* line 553, ../_/components/sass/_layout.scss */
  aside.sidebar {
    display: block;
    float: right;
    width: 20%; }

  /* line 559, ../_/components/sass/_layout.scss */
  nav {
    padding: 1.5rem 4.25rem;
    overflow: hidden;
    font-size: 1.2rem; }
    /* line 563, ../_/components/sass/_layout.scss */
    nav i {
      padding-right: 0.35rem; }
    /* line 567, ../_/components/sass/_layout.scss */
    nav ul li {
      padding-right: 1.45rem;
      position: relative; }
      /* line 570, ../_/components/sass/_layout.scss */
      nav ul li .navtag {
        display: block;
        font-size: 0.9rem;
        text-transform: lowercase;
        text-align: center;
        padding: 0;
        margin: 0; }

  /* line 583, ../_/components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 4.25rem; }
  /* line 586, ../_/components/sass/_layout.scss */
  footer ul.social-bookmarks {
    font-size: 1.5rem;
    left: 385px; } }
@media screen and (min-width: 1091px) {
  /* line 595, ../_/components/sass/_layout.scss */
  header {
    width: 1280px; }

  /* line 598, ../_/components/sass/_layout.scss */
  h1#menu a {
    position: absolute;
    padding: 0;
    top: 43px;
    left: 950px;
    font-size: 1rem; }

  /* line 605, ../_/components/sass/_layout.scss */
  section#banner {
    width: 1280px;
    height: 480px;
    background: url(../images/working_1280_bw.jpg) no-repeat;
    position: relative;
    overflow: hidden; }
    /* line 611, ../_/components/sass/_layout.scss */
    section#banner #bannertext {
      width: 33%;
      height: 480px;
      background: rgba(20, 135, 212, 0.8);
      position: absolute;
      top: 0;
      bottom: 0; }
      /* line 618, ../_/components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 3rem;
        color: #FFF;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #333;
        line-height: 125%; }
        /* line 624, ../_/components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 60px; }

  /* line 631, ../_/components/sass/_layout.scss */
  section#latest {
    width: 70%;
    padding-bottom: 0; }

  /* line 636, ../_/components/sass/_layout.scss */
  aside.sidebar {
    display: block;
    float: right;
    width: 20%; }

  /* line 642, ../_/components/sass/_layout.scss */
  nav {
    padding: 1.5rem 6.25rem;
    overflow: hidden;
    font-size: 1.45rem; }
    /* line 646, ../_/components/sass/_layout.scss */
    nav i {
      padding-right: 0.45rem; }
    /* line 650, ../_/components/sass/_layout.scss */
    nav ul li {
      padding-right: 5rem;
      position: relative; }
      /* line 653, ../_/components/sass/_layout.scss */
      nav ul li .navtag {
        display: block;
        font-size: 1rem;
        text-transform: lowercase;
        text-align: center; }

  /* line 663, ../_/components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 6.25rem; }
  /* line 666, ../_/components/sass/_layout.scss */
  footer ul.social-bookmarks {
    font-size: 1.8rem;
    padding: 20px 0 0 0;
    left: 425px; }
  /* line 671, ../_/components/sass/_layout.scss */
  footer li {
    padding-right: 1.8rem; } }
@media screen and (min-width: 1280px) {
  /* line 679, ../_/components/sass/_layout.scss */
  header {
    width: 1680px; }

  /* line 682, ../_/components/sass/_layout.scss */
  h1#menu a {
    position: absolute;
    padding: 0;
    top: 43px;
    left: 950px;
    font-size: 1rem; }

  /* line 689, ../_/components/sass/_layout.scss */
  section#banner {
    width: 1680px;
    height: 500px;
    background: url(../images/working_1680_bw.jpg) no-repeat; }
    /* line 693, ../_/components/sass/_layout.scss */
    section#banner #bannertext {
      height: 500px; }
      /* line 695, ../_/components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 5.3rem; }
        /* line 697, ../_/components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 75px; } }
